<a href="{{ fields.field_post_url.content|render|striptags|trim }}" target="_blank">
  <i class="fab fa-instagram fa-2x circle-icon"></i>

  <div class="cube-actions instagram">
    <div class="action"><h3>View on <strong>Instagram</strong></h3></div>
  </div>
  <div class="image">
    {{ fields.field_post_image.content }}
  </div>
</a>
