{% set network = fields.field_network.content|render|striptags|lower|trim %}

{% if network == 'twitter' %}
  <div class="twitter-post">
    <a href="{{ fields.field_post_url.content|render|striptags|trim }}" target="_blank">
      <div class="cube-content">
        <div class="cube-mask grid-y align-middle">
          <i class="fab fa-twitter fa-2x circle-icon"></i>
          <div class="copy large-auto">
            <div class="grid-x align-middle">
              <p>{{ fields.body.content|render|striptags|trim }}</p>
            </div>
          </div>
          <div class="large-6 xlarge-7 xxlarge-6">
            <div class="image">
              {{ fields.field_post_image.content }}
            </div>
          </div>
        </div>
      </div>
      <div class="cube-actions twitter">
        <div class="action"><h3>Read on <strong>Twitter</strong></h3></div>
      </div>
    </a>
  </div>
{% elseif network == 'instagram' %}
  <div class="instagram-post">
    <a href="https://www.instagram.com/p/Bri73UshXuL/" target="_blank">
      <i class="fab fa-instagram fa-2x circle-icon"></i>
      <div class="cube-actions instagram">
        <div class="action"><h3>View on <strong>Instagram</strong></h3></div>
      </div>
      <div class="image">
        {{ fields.field_post_image.content }}
      </div>
    </a>
  </div>
{% endif %}
