// Variables
// --------------------------

// Colors
$color-white: #FFFFFF;
$white: $color-white;

$color-black: #000000;

$tabs_tab_bg: #ededed;
$tabs_tab_bg_hover: #f5f5f5;
$tabs_tab_border: #bbbbbb;
